body {
    
    display: grid;
    grid-template-rows: auto 1fr auto; /* Filas: Header, Main, Footer */
    grid-template-columns: 1fr; /* Columnas */
    grid-template-areas:
        "header"
        "main"
        "footer";
    min-height: 100vh;
    margin: 0;
    font-family: 'Brygada 1918', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-image: url(./pokemon-go-169-699061300\ \(1\).jpg);
    background-size: cover;
    background-repeat: no-repeat;
   
}



header {
    grid-area: header;
    background-color: #083270c0;
    color: white;
    /* padding: 1rem; */
    padding-left: 10px;
}

/* nav {
    grid-area: main;
    background-color: #dddddd;
    padding: 1rem;
} */

main {
    grid-area: main;
    display: grid;
    grid-template-columns: 2fr 1fr; /* Columnas del Article y Aside */
    grid-gap: 1rem;
    padding: 1rem;
    

}

article {
    background-color: #f9f9f963;
    padding: 1rem;
    border-radius: 10px;
}

section
{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;

}

section .card1
{
    position: relative;
    height: 60vh;
    width: 50vw;
    
    background-color: azure;
    border-radius: 5px;
}

section .card2
{
    position: relative;
    height: 60vh;
    width: 50vw;
    
    background-color: azure;
    border-radius: 5px;
}

aside {
    background-color: #f0f0f0a4;
    padding: 1rem;
}

footer {
    display: flex;
    grid-area: footer;
    background-color: #e7e41f;
    color: rgb(27, 6, 122);
    padding: 1rem;
    align-items: center;
    justify-content: center;
}
